.card5 {
  width: 300px;
  padding: 3rem 2rem;
  transition: all 0.2s;
  bottom: 0px;
  position: relative;
  cursor: pointer;
  border-right: 1px solid rgb(219, 219, 219);
}
.card5:last-child {
  border: none;
}
.card5__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #17252a;
  bottom: 0;
  position: relative;
  text-align: center;
}
.card5__content,
.car5Icon {
  transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.car5Icon {
  font-size: 2.5rem;
  width: 26px;
  color: #2aafa9;
  margin: 0 auto;
}
.card5__content__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}
.card5:hover {
  bottom: 10px;
}
.card5:hover .car5Icon {
  transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
}
@media only screen and (max-width: 768px) {
  .card5 {
    border-right: none;
    border-bottom: 1px solid #dbdbdb;
  }
}
